.HistorySearch-Wrap {
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.9rem;
  &.none {
    display: none;
  }
  &.block {
    display: block;
  }
  &-Title {
    opacity: 0.7;
    cursor: pointer;
    &:hover {
      opacity: 1;
    }
  }
  &-Icon {
    opacity: 0.7;
    cursor: pointer;
    &:hover {
      opacity: 1;
    }
  }
}
