$dark-1: #0f1016; // 메인
$dark-2: #13151b; // 컴포넌트
$red-1: #d50606;
$red-2: #ff0050;
$gray-1: #b2b8ba;
$gray-2: #7a8d99;
$gray-3: #5c7489;
$gray-4: #38393e;
$gray-5: rgba(70, 74, 84, 1); // Nav ul font
$white-1: rgba(255, 255, 255, 0.9); // Logo
$white: rgba(255, 255, 255, 0.7); // Nav Title font
$red-3: #f40612;
$red-4: #e03838;
$mint: #59babc;
$yellow: #f5c518; // point color
