@import "styles/ColorScheme.scss";

.NavItem {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 8.5%;

  &-Logo {
    display: flex;
    flex-direction: row;
    padding-top: 5%;
    font-size: 1.5rem;
    font-weight: 600;
    color: $white-1;
    text-decoration: none;
    margin-right: 25%;
    height: 6%;
    &-Title {
      color: $yellow;
    }
    &-icon {
      width: 2em;
      height: 2em;
    }
  }
  &-Ul {
    font-size: 1.1rem;
    list-style: none;
    font-weight: 500;
    padding-left: 0;
    text-decoration: none;
    @media (max-width: 600px) {
      font-size: 0.8rem;
    }
    @media (max-width: 480px) {
      font-size: 0.7rem;
    }
    &-Title {
      font-size: 1.05rem;
      font-weight: 650;
      margin-bottom: 6%;
      color: $white;
    }
    &-Li {
      margin-bottom: 4%;
      cursor: pointer;
      & > a {
        margin-top: 5%;
        text-decoration: none;
        color: $gray-5;
        transition-duration: 0.2s;
        transition-property: color;

        &:hover {
          color: $mint;
        }
      }
    }
  }
}
