@import "styles/ColorScheme.scss";

.DetailCast-People {
  position: relative;
  margin-bottom: 2.8rem;
  line-height: 1.1;
  height: 29%;
  letter-spacing: -0.03em;
  width: 80%;
  /* 제목 */
  &-Title {
    &-Info {
      display: block;
      margin-bottom: 20px;
      font-size: 15px;
    }
  }
  /* 배우 정보 */
  &-Box {
    height: 98%;
    &::-webkit-scrollbar {
      display: none;
    }
    & > ul,
    ol {
      list-style: none;
      & > li {
        float: left;
        position: relative;
        width: 25%;
        height: 90px;
        margin-bottom: 30px;
        padding-left: 90px;
        box-sizing: border-box;
        & > div {
          text-decoration: none;
          position: absolute;
          top: 0;
          left: 0;
          vertical-align: middle;
          & > span {
            display: block;
            overflow: hidden;
            width: 70px;
            height: 100px;
            & > img {
              height: 100%;
              width: 100%;
              border: none;
              vertical-align: top;
            }
          }
        }
        & > div:link,
        div:active,
        div:hover,
        div:visited {
          // color: blue;
          text-decoration: none;
          cursor: pointer;
        }
      }
    }

    // /* post span */
    // &-Post {
    //   display: block;
    //   overflow: hidden;
    //   width: 90px;
    //   height: 90px;
    //   height: 90px;
    //   border-radius: 10%;
    //   & > img {
    //     width: 100%;
    //     border-radius: 10;
    //     border: none;
    //     vertical-align: top;
    //   }
    // }
    /* name */
    &-Div {
      display: table;
      height: 100%;
      margin-left: 14px;
      padding-right: 10px;
      &-Inner {
        display: table-cell;
        vertical-align: middle;
        padding-left: 91px;
        &-Name {
          cursor: pointer;
          display: block;
          margin-bottom: 7px;
          font-size: 18px;
          color: $white-1;
          transition-duration: 0.3s;
        }
        &-Name:hover {
          transform: scale(1.02);
          color: $yellow;
        }
        &-Ch {
          display: block;
          font-size: 13px;
          color: $white;
        }
      }
    }
  }
}
